.main-page {
    width: 1100px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

.main-page__logo {
    pointer-events: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;

}

.header__link_active {
    text-decoration: none;
    pointer-events: none;
}

.header__logo {
    width: 148px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0;
    font-style: normal;
}

.header__address {
    max-width: 240px;
}

.cover {
    background: url("../images/cover.jpg") center;
    background-size: cover;
    min-height: 757px;
    position: relative;
    margin-bottom: 180px;
}

.cover__content {
    padding: 165px 50px 50px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 60%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 107px;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_right {
    text-align: right;
}

.cover__subline {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.5px;
    text-transform: uppercase;
    color: white;
}

.cover__button {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 13px 32px 14px;
    cursor: pointer;
}

.card {
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 596px;
    width: 334px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots {
    margin: 0 24px 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    margin-bottom: 27px;
}

.card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
    height: 100%;
    padding: 48px 40px;
    color: white;
    z-index: 2;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}
.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    margin-bottom: 33px;
}

.lots__card-list-item {
    flex: 1;
}
.card-link {
    display: flex;
    text-decoration: none;
}



.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: lowercase;
    margin-left: 40px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    min-height: 595px;
    margin: 0 24px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin-top: 35px;
}

.description-block {
    max-width: 693px;
    min-height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 24px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 79px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
    pointer-events: none;
}

.footer__menu-link {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
    padding: 1px 50px 131px 0;
    list-style: none;
}

.footer__address {
    display: flex;
    flex-direction: column;
    padding-left:50px;
    width: 100%;
}

